{% include 'sitio/cabecera.html' %}

  <main >    
    <div class="p-5 bg-light">
        <div class="container">           
                <h1 class="display-3" align="center">Bienvenidos</h1>
                <p class="lead" align="center">este sitio web lleva un catalogo de libros</p>
                <p class="lead" align="center">orientado a la programación y sector IT</p>
                <hr class="my-2">
                <!--<p >más info</p>-->    
                <p class="lead" align="center">
                    <a class="btn btn-success btn-lg" href="/libros" role="button">ver catálogo de libros</a>
                </p>                            
        </div>        
    </div>    
  </main>
  {% include 'sitio/pie.html' %}  