{% include 'sitio/cabecera.html' %}

  <div class="container">
    <div class="row">
        {% for libro in libros %}
        <div class="col-md-3">
          <div class="card">
            <img  class="card-img-top" src="/img/{{libro[2]}}" alt="Libros">
            <div class="card-body">
                <h4 class="card-title">{{libro[1]}}</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="{{libro[1]}}" target="_blank"  role="button">Decargar</a>
                </p>
            </div>
          </div>
        </div>
        {% endfor %}    
    </div>
  </div>
  {% include 'sitio/pie.html' %}  