{% include 'sitio/cabecera.html' %}

  <main>
    <div class="card">     
      <div class="card-body">
        <h1 class="card-title btn btn-primary btn-lg">Walter Gómez</h1>
        <br>  
        <p class="card-text btn btn-warning btn-lg ">FullStack Developer</p> 
        <br>       
        <a class="btn btn-primary  btn-lg active" href="https://www.linkedin.com/in/walter-gomez-fullstack-developer-jr-java-python-adm-finanzas/">mi red social LinkedIn</a> <p class="card-text"></p>
        
        <a class="btn btn-primary btn-lg active" href="https://wgekko.github.io/Walter-Gomez-Resumen-Portfolio/">mi portfolio profesional</a>
        <br><br>
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_960_720.jpg" alt="programador">
      </div>
    </div>    
  </main>

  {% include 'sitio/pie.html' %}  