<footer>
  <br><br>
  <nav class="navbar navbar-expand navbar-dark bg-success">
    <div class="nav navbar-nav">     
      <a class="nav-item nav-link" href="#">Copyright - derechos reservados</a>   
      <p>&nbsp; &nbsp; &nbsp; </p>   
      <a class="nav-item nav-link" href="#">Walter Gómez - FullStack Developer</a>
      <p>&nbsp; &nbsp; &nbsp; </p>    
  </div>
    
    <div class="nav navbar-nav">           
      <p>&nbsp; &nbsp; &nbsp; </p>
      <p>&nbsp; &nbsp; &nbsp; </p>
      <p>&nbsp; &nbsp; &nbsp; </p>    
    </div>
    <div class="nav navbar-nav">           
        <a class="nav-item nav-link" href="https://www.linkedin.com/in/walter-gomez-fullstack-developer-jr-java-python-adm-finanzas/" target="_black">LinkedIn</a>
        <a class="nav-item nav-link" href="https://github.com/wgekko" target="_black">GitHub</a>
        <a class="nav-item nav-link" href="https://wgekko.github.io/Walter-Gomez-Resumen-Portfolio/" target="_black">Portfolio</a> 
    </div>
</nav>  
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>